includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  reportUnmatchedIgnoredErrors: false
  paths:
    - ../../../ps_qualityassurance.php
    - ../../../controllers/
  level: 5
